# Importing Pandas

In [4]:
import pandas as pd

# Reading a csv file

In [6]:
df=pd.read_csv("pokemon_data.csv")
df
# I saved the csv file in the same directory coz i was having file path issues

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Obtaining basic statistical data

In [69]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [34]:
df["HP"].max()
# Same for min

255

In [10]:
df.head()
# Prints first 5 rows by default

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [63]:
df.tail(3)
# Prints last 3 rows

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [67]:
df[18:25]
# Prints a custom range of rows

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
24,19,Rattata,Normal,NaN,30,56,35,25,35,72,1,False

In [77]:
df.iloc[7]
# Prints the 7th row

#                                     6
Name          CharizardMega Charizard X
Type 1                             Fire
Type 2                           Dragon
HP                                   78
Attack                              130
Defense                             111
Sp. Atk                             130
Sp. Def                              85
Speed                               100
Generation                            1
Legendary                         False
Name: 7, dtype: object

# Selecting rows based on specific info

In [59]:
df.loc[df["Type 1"]=="Water"]
# Prints all type 1 pokemons that are Water type

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,71,73,88,120,89,59,6,False

In [75]:
df.loc[df["Generation"]<=2]
# Prints pokemons who are from first and second generation

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
267,248,Tyranitar,Rock,Dark,100,134,110,95,100,61,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False
269,249,Lugia,Psychic,Flying,106,90,130,90,154,110,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
271,251,Celebi,Psychic,Grass,100,100,100,100,100,100,2,False

# Sorting Data

In [55]:
df.sort_values("HP")
# Prints HP values in ascending order as that is the default order

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
388,355,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
487,439,Mime Jr.,Psychic,Fairy,20,25,45,70,90,60,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False

In [57]:
df.sort_values("HP",ascending=False)
# Prints HP in descending order

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
388,355,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

In [51]:
df.sort_values(["Generation","Attack"])
# Sorts the values first based on the generation, then among that generation it sorts it based on lowest attack to highest attack.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
750,681,AegislashBlade Forme,Steel,Ghost,60,150,50,150,50,60,6,False
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True

In [81]:
df.sort_values(["Generation","Attack"],ascending=[1,0])
# Sorts Generation in ascending order, and in that generation it sorts the pokemons attack in decending order

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
764,694,Helioptile,Electric,Normal,44,38,33,61,43,70,6,False
727,659,Bunnelby,Normal,NaN,38,36,38,32,36,57,6,False
732,664,Scatterbug,Bug,NaN,38,35,40,27,25,35,6,False
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
733,665,Spewpa,Bug,NaN,45,22,60,27,30,29,6,False

In [134]:
res_df=df.loc[(df["Type 1"]=="Psychic") & (df["Type 2"]=="Fairy")]
#Prints Psychic type pokemons which are fairy type
res_df=res_df.reset_index()
res_df
# reset_index makes the index values according to this specific condition

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Speed,Generation,Legendary,All_Round,Sum
0,131,122,Mr. Mime,Psychic,Fairy,40,45,65,100,90,1,False,55.0,250
1,303,280,Ralts,Psychic,Fairy,28,25,25,45,40,3,False,25.0,123
2,304,281,Kirlia,Psychic,Fairy,38,35,35,65,50,3,False,35.0,173
3,305,282,Gardevoir,Psychic,Fairy,68,65,65,125,80,3,False,65.0,323
4,306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,100,3,False,75.0,383
5,487,439,Mime Jr.,Psychic,Fairy,20,25,45,70,60,4,False,35.0,160

In [140]:
df.loc[df["Name"].str.contains("Char")]
# Prints all rows where the name ofthe pokemon has"Char" in it

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Speed,Generation,Legendary,All_Round,Sum
4,4,Charmander,Fire,NaN,39,52,43,60,65,1,False,47.5,194
5,5,Charmeleon,Fire,NaN,58,64,58,80,80,1,False,61.0,260
6,6,Charizard,Fire,Flying,78,84,78,109,100,1,False,81.0,349
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,100,1,False,120.5,449
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,100,1,False,91.0,419

In [8]:
df["Type 1"].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

# Manipulating Data

In [92]:
df["All_Round"]=(df["Attack"]+df["Defense"])/2 
df
# Creating a new column All_Round that is the average of Attack and Defense

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,All_Round
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,49.0
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,62.5
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,82.5
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,111.5
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,47.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,125.0
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,135.0
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,85.0
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,110.0
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,115.0

In [10]:
df= df.drop(columns=["Sp. Def"])
df
# Sp. Def column is being removed from the dataframe. Saving the edited DF in the variable is important

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,70,6,True

In [110]:
df["Sum"]= df.iloc[:, 4:8].sum(axis=1)
df
# Creates a new column Sum that adds columns from HP to Sp. Atk for each row and saves that sum in the new Sums column
# iloc is used to locate index values and return the value of that cell as done earlier
# iloc take arguments[row, column]. Over here ':' selects all rows and 4:8 selects columns of those index values.
# .sum() is used for addition and axis=1 makes sure that the addition in horizontal

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Speed,Generation,Legendary,All_Round,Sum
0,1,Bulbasaur,Grass,Poison,45,49,49,65,45,1,False,49.0,208
1,2,Ivysaur,Grass,Poison,60,62,63,80,60,1,False,62.5,265
2,3,Venusaur,Grass,Poison,80,82,83,100,80,1,False,82.5,345
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,80,1,False,111.5,425
4,4,Charmander,Fire,NaN,39,52,43,60,65,1,False,47.5,194
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,50,6,True,125.0,400
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,6,True,135.0,480
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,70,6,True,85.0,400
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,80,6,True,110.0,470
799,721,Volcanion,Fire,Water,80,110,120,130,70,6,True,115.0,440

In [154]:
df.fillna("Mystery")
# Fills null value with "mystery"

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Speed,Generation,Legendary,All_Round,Sum
0,1,Bulbasaur,Grass,Poison,45,49,49,65,45,1,False,49.0,208
1,2,Ivysaur,Grass,Poison,60,62,63,80,60,1,False,62.5,265
2,3,Venusaur,Grass,Poison,80,82,83,100,80,1,False,82.5,345
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,80,1,False,111.5,425
4,4,Charmander,Fire,Mystery,39,52,43,60,65,1,False,47.5,194
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,50,6,True,125.0,400
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,6,True,135.0,480
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,70,6,True,85.0,400
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,80,6,True,110.0,470
799,721,Volcanion,Fire,Water,80,110,120,130,70,6,True,115.0,440

In [16]:
df = df.replace(to_replace = 'Grass', value ='Nature')
df
#replaces grass type with nature

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Speed,Generation,Legendary
0,1,Bulbasaur,Nature,Poison,45,49,49,65,45,1,False
1,2,Ivysaur,Nature,Poison,60,62,63,80,60,1,False
2,3,Venusaur,Nature,Poison,80,82,83,100,80,1,False
3,3,VenusaurMega Venusaur,Nature,Poison,80,100,123,122,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,70,6,True

# Statistics

In [212]:
df=pd.read_csv("pokemon_data.csv")

In [8]:
df.groupby(['Type 1']).mean(numeric_only=True)
# Sorts Type 1 alphabetically and prints the mean of each numeric column of each row

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
600,540,Sewaddle,Bug,Grass,45,53,70,40,60,42,5,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
457,412,Burmy,Bug,NaN,40,29,45,29,45,36,4,False
132,123,Scyther,Bug,Flying,70,110,80,55,80,105,1,False
656,595,Joltik,Bug,Electric,50,47,50,57,50,65,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
172,158,Totodile,Water,NaN,50,65,64,44,48,43,2,False
610,550,Basculin,Water,NaN,70,92,65,80,55,98,5,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
574,515,Panpour,Water,NaN,50,53,48,53,48,64,5,False
184,170,Chinchou,Water,Electric,75,38,38,56,56,67,2,False

In [202]:
df.groupby(['Type 2']).count()

,#,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,,
Bug,3,3,3,3,3,3,3,3,3,3,3
Dark,20,20,20,20,20,20,20,20,20,20,20
Dragon,18,18,18,18,18,18,18,18,18,18,18
Electric,6,6,6,6,6,6,6,6,6,6,6
Fairy,23,23,23,23,23,23,23,23,23,23,23
Fighting,26,26,26,26,26,26,26,26,26,26,26
Fire,12,12,12,12,12,12,12,12,12,12,12
Flying,97,97,97,97,97,97,97,97,97,97,97
Ghost,14,14,14,14,14,14,14,14,14,14,14
Grass,25,25,25,25,25,25,25,25,25,25,25
Ground,35,35,35,35,35,35,35,35,35,35,35
Ice,14,14,14,14,14,14,14,14,14,14,14
Normal,4,4,4,4,4,4,4,4,4,4,4
Poison,34,34,34,34,34,34,34,34,34,34,34
Psychic,33,33,33,33,33,33,33,33,33,33,33
Rock,14,14,14,14,14,14,14,14,14,14,14
Steel,22,22,22,22,22,22,22,22,22,22,22
Water,14,14,14,14,14,14,14,14,14,14,14

In [19]:
df["Defense"].quantile(0.75)
#prints 75%tile of defense column

90.0

In [14]:
pd.crosstab(df["Type 1"],df["Generation"])
# creates a crosstabulation of type 1 vs generation

Generation   1   2   3   4   5   6
Type 1
Bug         14  12  12  10  18   3
Dark         0   6   6   3  13   3
Dragon       3   0  12   4   9   4
Electric     9   7   5  12   8   3
Fairy        2   5   0   1   0   9
Fighting     7   2   5   3   7   3
Fire        14   8   8   5   9   8
Flying       0   0   0   0   2   2
Ghost        4   1   5   7   5  10
Grass       13   9  13  15  15   5
Ground       8   3   7   4  10   0
Ice          2   4   7   3   6   2
Normal      24  15  18  18  19   4
Poison      14   1   3   6   2   2
Psychic     11   7  12   8  14   5
Rock        10   5   8   6   6   9
Steel        0   3  12   3   4   5
Water       31  18  27  13  18   5